<div class="container mt-3">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">My sales</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">My purchase</button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <%# MY Sales %>
    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
      <% if current_user.cards.empty? %>
        <p>No cards in your pokedex</p>
      <% else %>


        <h3>Cards without offers</h3>
        <div class="cards">
          <% @cards_without_offer.each do |card|%>
            <div class="card-trip position-relative" >
              <div class="d-flex justify-content-between align-items-center px-4 pt-2 border-bottom">
                <h1 class="fs-3"><%= card.name %></h1>
                <p class="fs-5"><%= card.price %></p>
              </div>
              <% if card.photos.attached? %>
                <%= cl_image_tag(card.photos.first.key) %>
              <% else %>
                <%= image_tag("https://www.emob-meubles.fr/media/catalog/product/cache/47315658861446b438ceea760f29ab26/R/M/RMK2536GM_Pokemon_Pikachu_Giant_Wall_Decals_Assembled_Product_0b96.jpg") %>
              <% end %>
              <%= link_to "View Card", card_path(card.id), class: "btn btn-primary bottom-0 w-100 btn-padding" %>
            </div>
          <% end %>
        </div>

      <h3>Cards with offers</h3>
      <div class="cards">
        <%  @cards_with_offer.each do |card|%>


          <div class="card-trip position-relative" >
              <div class="d-flex justify-content-between align-items-center px-4 pt-2 border-bottom">
                <h1 class="fs-3"><%= card.name %></h1>
                <p class="fs-5"><%= card.price %></p>
              </div>
              <% if card.photos.attached? %>
                <%= cl_image_tag(card.photos.first.key) %>
              <% else %>
                <%= image_tag("https://www.emob-meubles.fr/media/catalog/product/cache/47315658861446b438ceea760f29ab26/R/M/RMK2536GM_Pokemon_Pikachu_Giant_Wall_Decals_Assembled_Product_0b96.jpg") %>
              <% end %>
                <div class="d-flex justify-content-between">
                  <%= link_to "Accept offer", sale_path(card.sale), class: "btn btn-success w-100 btn-padding" %>
                  <%= link_to "Delete offer", sale_path(card.sale),  data: { turbo_method: :delete }, class: "btn btn-danger lighter-red w-100 btn-padding" %>
                </div>
              <div>


          </div>
          </div>




        <% end %>
      </div>

      <h3>Previous Sales</h3>
      <div class="cards">
        <% @cards_sold.each do |card|%>

          <div class="card-trip position-relative" >
              <div class="d-flex justify-content-between align-items-center px-4 pt-2 border-bottom">
                <h1 class="fs-3"><%= card.name %></h1>
                <p class="fs-5"><%= card.price %></p>
              </div>
              <% if card.photos.attached? %>
                <%= cl_image_tag(card.photos.first.key) %>
              <% else %>
                <%= image_tag("https://www.emob-meubles.fr/media/catalog/product/cache/47315658861446b438ceea760f29ab26/R/M/RMK2536GM_Pokemon_Pikachu_Giant_Wall_Decals_Assembled_Product_0b96.jpg") %>
              <% end %>
              <%= link_to "View Card", card_path(card.id), class: "btn btn-primary bottom-0 w-100 btn-padding" %>
          </div>
        <% end %>
      </div>
      <% end %>
    </div>
    <%# MY Purcahse  %>
    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
     <% if current_user.card_requests.empty? %>
        <p>No request yet</p>
      <% else %>

        <h3>Your offers</h3>
        <div class="cards">
          <% @pending_offer_propositions.each do |card|%>
            <div class="card-trip position-relative" >
              <div class="d-flex justify-content-between align-items-center px-4 pt-2 border-bottom">
                <h1 class="fs-3"><%= card.name %></h1>
                <p class="fs-5"><%= card.price %></p>
              </div>
              <% if card.photos.attached? %>
                <%= cl_image_tag(card.photos.first.key) %>
              <% else %>
                <%= image_tag("https://www.emob-meubles.fr/media/catalog/product/cache/47315658861446b438ceea760f29ab26/R/M/RMK2536GM_Pokemon_Pikachu_Giant_Wall_Decals_Assembled_Product_0b96.jpg") %>
              <% end %>
              <%= link_to "View Card", card_path(card.id), class: "btn btn-primary bottom-0 w-100 btn-padding" %>
            </div>
          <% end %>
        </div>


        <h3>Previously Bought</h3>
        <div class="cards">
          <% @sold.each do |card|%>
            <div class="card-trip position-relative" >
              <div class="d-flex justify-content-between align-items-center px-4 pt-2 border-bottom">
                <h1 class="fs-3"><%= card.name %></h1>
                <p class="fs-5"><%= card.price %></p>
              </div>
              <% if card.photos.attached? %>
                <%= cl_image_tag(card.photos.first.key) %>
              <% else %>
                <%= image_tag("https://www.emob-meubles.fr/media/catalog/product/cache/47315658861446b438ceea760f29ab26/R/M/RMK2536GM_Pokemon_Pikachu_Giant_Wall_Decals_Assembled_Product_0b96.jpg") %>
              <% end %>
              <%= link_to "View Card", card_path(card.id), class: "btn btn-primary bottom-0 w-100 btn-padding" %>
            </div>
          <% end %>
        </div>
        <% end %>
  </div>
</div>
