<div class="cards">

  <% @cards.each do |card| %>
  <% if card.sale == nil %>
    <div class="card-trip position-relative" >
        <div class="d-flex justify-content-between align-items-center px-4 pt-2 border-bottom">
          <h1 class="fs-3"><%= card.name %></h1>
          <p class="fs-5"><%= card.price %>€</p>
        </div>
        <% if card.photos.attached? %>
          <%= cl_image_tag(card.photos.first.key) %>
        <% else %>
          <%= image_tag("https://www.emob-meubles.fr/media/catalog/product/cache/47315658861446b438ceea760f29ab26/R/M/RMK2536GM_Pokemon_Pikachu_Giant_Wall_Decals_Assembled_Product_0b96.jpg") %>
        <% end %>
        <%= link_to "View Card", card_path(card.id), class: "btn btn-primary bottom-0 w-100 btn-padding" %>
    </div>
  <% end %>
  <% end %>
</div>
