<div class="cards">

  <% @cards.each do |card| %>
    <div class="card-trip" >
        <% if card.photos.attached? %>
          <%= cl_image_tag(card.photos.first.key) %>
        <% else %>
          <%= image_tag("https://www.emob-meubles.fr/media/catalog/product/cache/47315658861446b438ceea760f29ab26/R/M/RMK2536GM_Pokemon_Pikachu_Giant_Wall_Decals_Assembled_Product_0b96.jpg") %>
        <% end %>
      <%# <div class="card-trip-infos"> %>
        <h2><%= card.name %></h2>
        <p><%= card.description %></p>
        <div>
          <p class="m-0"><%= card.state %></p>
          <p><%= card.price %></p>
        </div>
        <%= link_to "See details", card_path(card.id), :class=>"btn btn-warning" %>
        <%# <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" /> %>
      <%# </div> %>
    </div>
  <% end %>
