 <h1><%= @card.name %></h1>
  <div class="container d-flex">
    <div style="width: 300px">
   <% if @card.photos.attached? %>
      <%= cl_image_tag @card.photos.first.key, width: "100%"%>
    <% else %>
      <%= image_tag "https://www.emob-meubles.fr/media/catalog/product/cache/47315658861446b438ceea760f29ab26/R/M/RMK2536GM_Pokemon_Pikachu_Giant_Wall_Decals_Assembled_Product_0b96.jpg", :style => "width: 100%" %>
    <% end %>
    </div>

    <div class="ms-3">
      <h3>Description</h3>
      <p><%= @card.description %></p>
      <h3>Etat</h3>
      <p><%= @card.state %></p>
      <h3>Price</h3>
      <p><%= @card.price %></p>
    </div>
  </div>
  <%  is_a_user_card = current_user.cards.include?(@card) %>
  <% if is_a_user_card %>
    <div>
      <%= button_to "edit card", edit_card_path(@card), method: :get %>
      <%= button_to "delete card", card_path(@card), method: :delete  %>
    </div>

  <% else %>
    <%= button_to "buy card", card_sales_path(@card) %>
  <% end %>
</body>
</html>
