 <h1><%= @card.name %></h1>
  <div class="container d-flex">
    <%= cl_image_tag @card.photos.first.key, height: 300, width: 400, crop: :fill %>
    <div class="ms-3">
      <h3>Description</h3>
      <p><%= @card.description %></p>
      <h3>Etat</h3>
      <p><%= @card.state %></p>
      <h3>Price</h3>
      <p><%= @card.price %></p>
    </div>
  </div>

  <%= button_to "buy card", card_sales_path(@card) %>
</body>
</html>
