  <div class="container">
    <h1 class="pb-4 font-size-6"><%= @card.name %></h1>


    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex">
        <div class="position-relative">
          <div class="card-trip-show">
            <% if @card.photos.attached? %>
              <%= cl_image_tag @card.photos.first.key%>
            <% else %>
              <%= image_tag "https://www.emob-meubles.fr/media/catalog/product/cache/47315658861446b438ceea760f29ab26/R/M/RMK2536GM_Pokemon_Pikachu_Giant_Wall_Decals_Assembled_Product_0b96.jpg" %>
            <% end %>
          </div>

          <%  is_a_user_card = current_user.cards.include?(@card) %>
          <% if is_a_user_card %>
            <div class="d-flex justify-content-between">
              <%= link_to "Edit card", edit_card_path(@card), class: "btn btn-primary w-100 btn-padding" %>
              <%= link_to "Delete card", card_path(@card), data: { turbo_method: :delete }, class: "btn btn-danger lighter-red w-100 btn-padding" %>
            </div>
          <% else %>
            <% if @card.sale %>
              <p>Actual offer <%= @card.sale.nego_price %>€ by <%= @card.sale.user.username %> </p>
              <%= button_to "Make a better offer", edit_sale_path(@card), method: :get %>
            <% else %>
              <div class="d-flex m-2">
                <%= form_with url: card_sales_path(@card), method: :post do |form| %>
                  <%= form.number_field :nego_price, step: 0.01, class: "pe-2" %>
                  <%= form.button "Make an offer (€)", class: "btn btn-primary", data: {turbo_confirm: "Are you sure?"} %>
                <% end %>
              </div>
          <% end %>
        <% end %>
      </div>

      <div class="ms-5">
        <h2 class="pb-1">Description</h3>
        <p class="ps-4 italic"><%= @card.description %></p>
        <h2 class="pb-1">State</h3>
        <p class="ps-4 italic"><%= @card.state %></p>
        <h2 class="pb-1">Price</h3>
        <p class="ps-4 italic"><%= @card.price %>€</p>
      </div>
    </div>
    <div>
      <%= image_tag "Graph.png", style:  "width: 90%"  %>
    </div>
  </div>
