 <h2>Card's price: <%= @card.price %>€</h2>
 <%= simple_form_for @sale do |f| %>
  <%= f.label "Your price:" %>
  <%= f.number_field :nego_price, input_html: { min: '0', max: @card.sale }, step: 0.01 %>
  <%= f.submit "Make an offer" %>
<% end %>
